<footer>
    <div class="socialContainer">
        <a href="">Email</a>
        <a href="">Skype</a>
        <a href="">Twitter</a>
        <a href="">LinkedIn</a>
        <a href="">Github</a>
    </div>
</footer>
